In [102]:
import configparser
config = configparser.ConfigParser()
config.read('../training/secrets.ini')
import os
import openai
os.environ.update({'OPENAI_API_KEY': config['OPENAI']['OPENAI_API_KEY']})
openai.api_key = os.getenv('OPENAI_API_KEY')

In [103]:
system_prompt_template= """
You are an expert on sparql and wikibase. I have a private wikibase where the p and q items are completely unknown to you. 

If you are asked to provide a "query template json" for a user question, you should respond with a json object with these keys and values:
* 'query_template': a python-style template string. the query template should not use 'rdfs:label' to help you find items. Instead, just use a placeholder tag for each p and q item you need. Each tag should begin with "p-" or "q-" depending on whether you think you need a p or a q item
* 'vocabulary': a list of objects, one for each p or q item you need for a sparql query, each item should have these components:
** 'item_tag': a placeholder string that you make up
** 'item_label_quesses': a list of up to three different strings that you think might be used as the label for that p or q item
Remember: you do not know the actual q or p items in my wikibase, so make sure to list ALL p and q items in the 'vocabulary' section of the json.

You may assume the following prefixes:
PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX p: <http://www.wikidata.org/prop/>
PREFIX ps: <http://www.wikidata.org/prop/statement/>

Respond only with the json. Do not include any comments or explanations.

"""

In [104]:
example1_human = """
generate a query template json for the question "Does malin 1 have a right ascension lower than 15.1398?"
"""

In [105]:
example1_ai = """
{{
  "query_template": "SELECT ?result WHERE {{ wd:q-Malin1 wdt:p-RightAscension ?right_ascension . FILTER(?right_ascension < 15.1398) BIND(xsd:boolean(?right_ascension < 15.1398) as ?result) }}",
  "vocabulary": [
    {{
      "item_tag": "q-Malin1",
      "item_label_quesses": ["Malin 1", "Malin-1", "Malin1"]
    }},
    {{
      "item_tag": "p-RightAscension",
      "item_label_quesses": ["Right ascension", "right_ascension", "RA"]
    }}
  ]
}}
"""

In [106]:
example2_human = """
How many children did J.S. Bach have?
"""

In [107]:
example2_ai = """
{{
  "query_template": "w
  "vocabulary": [
    {{
      "item_tag": "q-JSBach",
      "item_label_quesses": ["Johann Sebastian Bach", "Bach, Johann Sebastian", "J.S. Bach"]
    }},
    {{
      "item_tag": "p-Child",
      "item_label_quesses": ["Child", "Offspring", "Progeny"]
    }}
  ]
}}
"""

In [108]:
from langchain.prompts import (
    ChatPromptTemplate,
    PromptTemplate,
    SystemMessagePromptTemplate,
    AIMessagePromptTemplate,
    HumanMessagePromptTemplate,
)
from langchain.schema import (
    AIMessage,
    HumanMessage,
    SystemMessage
)

In [109]:
template=system_prompt_template
system_message_prompt = SystemMessagePromptTemplate.from_template(template)

example_human_1 = HumanMessagePromptTemplate.from_template(example1_human)
example_ai_1 = AIMessagePromptTemplate.from_template(example1_ai)
example_human_2 = HumanMessagePromptTemplate.from_template(example2_human)
example_ai_2 = AIMessagePromptTemplate.from_template(example2_ai)

human_template="Please generate query template json for this question: {text}"
human_message_prompt = HumanMessagePromptTemplate.from_template(human_template)

In [110]:
from langchain.chat_models import ChatOpenAI
chat = ChatOpenAI(temperature=0)

In [111]:
chat_prompt = ChatPromptTemplate.from_messages([system_message_prompt, example_human_1, example_ai_1, example_human_2, example_ai_2, human_message_prompt])

In [112]:
from langchain import PromptTemplate, LLMChain
chain = LLMChain(llm=chat, prompt=chat_prompt)
result = chain.run('Which is the Basketball-Reference.com NBA player ID of Hakeem Olajuwon?')
print(result)

WARNING:/opt/homebrew/anaconda3/envs/conda210/lib/python3.9/site-packages/langchain/chat_models/openai.py:Retrying langchain.chat_models.openai.ChatOpenAI.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised APIConnectionError: Error communicating with OpenAI: ('Connection aborted.', ConnectionResetError(54, 'Connection reset by peer')).

{
  "query_template": "SELECT ?player_id WHERE { wd:q-HakeemOlajuwon wdt:p-BasketballReferencecomNBAPlayerID ?player_id . }",
  "vocabulary": [
    {
      "item_tag": "q-HakeemOlajuwon",
      "item_label_quesses": ["Hakeem Olajuwon", "Olajuwon, Hakeem"]
    },
    {
      "item_tag": "p-BasketballReferencecomNBAPlayerID",
      "item_label_quesses": ["Basketball-Reference.com NBA player ID", "BasketballReference.com NBA Player ID", "Basketball-Reference NBA player ID"]
    }
  ]
}

In [12]:
import json

In [13]:
query_template = json.loads(result)

In [14]:
from typing import Any, Dict, List, Optional, Union

def get_nested_value(nested_dict: Dict[str, Any], path: List[str]) -> Optional[Any]:
    """
    Retrieves a value from a nested dictionary structure using a list of keys as a path.

    :param nested_dict: The nested dictionary structure to traverse.
    :param path: A list of strings representing the keys to traverse in order to access the desired value.
    :return: The value at the end of the path if it exists, or None if any key in the path is not found.
    """
    current = nested_dict
    for key in path:
        if not isinstance(current, dict) or key not in current:
            return None
        current = current[key]
    return current

In [15]:
import requests
from typing import Optional

def vocab_lookup(search: str, entity_type: str = "item",
                 item_tag: str = None, 
                 srqiprofile: str = "classic") -> Optional[str]:
    
    if item_tag is not None:
        if item_tag.startswith("q-"):
            entity_type = "item"
        elif item_tag.startswith("p-"):
            entity_type = "property"   
    
    if entity_type == "item":
        srnamespace = 0
    elif entity_type == "property":
        srnamespace = 120
    else:
        raise ValueError("entity_type must be either 'property' or 'item'")      
        
    url = "https://www.wikidata.org/w/api.php"
    params = {
        "action": "query",
        "list": "search",
        "srsearch": search,
        "srnamespace": srnamespace,
        "srlimit": 5,
        "srqiprofile": srqiprofile,
        "format": "json"
    }
    headers = {'Accept': 'application/json'}

    response = requests.get(url, headers=headers, params=params)
        
    if response.status_code == 200:
        results = get_nested_value(response.json(), ['query', 'search'])
        if results and len(results) > 0:
            title = results[0]['title']
            # properties are returned with a prefix 'property:'
            return results[0]['title'].split(':')[-1]
        else:
            print(f"No {entity_type} found for '{search}'")
            return ""
    else:
        print(f"Request failed with status code {response.status_code}")
        return ""

In [99]:
def resolve_query_template(t):
    vocab_items = [(v["item_tag"], v["item_label_quesses"]) for v in t["vocabulary"]]
    # since this is not a proper template, we use "replace" below
    # so we need to be careful that some tags may be prefixes of others
    # sorting them by tag length avoids that
    vocab_items = sorted(vocab_items, key=lambda x: x[0], reverse=True)
    resolved_vocabulary = {item_tag: vocab_lookup(item_label_quesses[0], item_tag=item_tag) for item_tag, item_label_quesses in vocab_items}
    query = t['query_template']
    for item_tag, item_id in resolved_vocabulary.items():
        query = query.replace(item_tag, item_id)
    result = query
    return result

In [17]:
resolve_query_template(query_template)

'SELECT ?player_id WHERE { wd:Q273256 wdt:P2685 ?player_id . }'

In [18]:
def translator(question):
    llm_result = chain.run(question)
    try:
        query_template = json.loads(llm_result)
    except Exception:
        query_template = "" 
    query = resolve_query_template(query_template)
    return query

In [19]:
translator("The Juventus F.C. has what number of participating teams?")

'SELECT (COUNT(?team) as ?result) WHERE { wd:Q1422 wdt:P1923 ?team }'

# Validation testing for Natural Language Question to SPARQL Query

Create a df for the lcquad queries

In [20]:
import pandas as pd

In [21]:
lcquad_path = "../../lcquad2.0.train.json"

In [22]:
!ls -l {lcquad_path}

-rw-r--r--@ 1 i857913  staff  26561843 Feb  6 16:58 ../../lcquad2.0.train.json

In [23]:
lcquad_df = pd.read_json(lcquad_path)

In [24]:
len(lcquad_df)

24180

Make a sparql runner

In [25]:
from wikibaseintegrator import wbi_helpers
from wikibaseintegrator.wbi_config import config as wbi_config
import logging

In [26]:
wbi_config['USER_AGENT'] = 'AskwikiBot/1.0 (https://www.wikidata.org/wiki/User:What_Tottles_Meant)'
wbi_config['BACKOFF_MAX_TRIES'] = 1

In [57]:
from requests.exceptions import HTTPError

def run_sparql(query):
    try:
        results = wbi_helpers.execute_sparql_query(query)
    except HTTPError as he:
        logging.error(f'HTTPError {he}')
        print(f"failed query {query}")
        return None
    # print(results)
    if 'boolean' in results:
        return pd.DataFrame([{'Boolean': results['boolean'] }])
    jsonResult = [dict([(k, b[k]['value']) for k in b]) for b in results['results']['bindings']]
    df = pd.DataFrame.from_dict(jsonResult)
    return df

In [67]:
import requests
from typing import List, Dict, Any

def run_sparql(query: str) -> List[Dict[str, Any]]:
    url = 'https://query.wikidata.org/sparql'
    headers = {
        'Accept': 'application/json',
        'User-Agent': 'AskwikiBot/1.0 (https://www.wikidata.org/wiki/User:What_Tottles_Meant)'
    }

    response = requests.get(url, headers=headers, params={'query': query, 'format': 'json'})

    if response.status_code == 200:
        results = response.json().get('results', {}).get('bindings', [])
        return results
    else:
        print(f"Request failed with status code {response.status_code}")
        return None

In [68]:
import time
def validate_queries(qs):
    validation_results = []
    count = 0
    for q in qs:
        print(count)
        if not 'limit' in q.lower():
            q += ' limit 100'
        print(q)
        df = run_sparql(q)
        result_count = 0
        if df is None:
            run_result = 'Fail'
            print(f"Failed query number {count}")
        else:
            run_result = 'Pass'
            result_count = len(df)
        validation_results.append((run_result, result_count))
        count += 1
        time.sleep(2)
    return validation_results

In [69]:
v = validate_queries(lcquad_df['sparql_wikidata'].loc[0:5])

0
 select distinct ?obj where { wd:Q188920 wdt:P2813 ?obj . ?obj wdt:P31 wd:Q1002697 }  limit 100
1
SELECT ?answer WHERE { wd:Q169794 wdt:P26 ?X . ?X wdt:P22 ?answer} limit 100
2
ASK WHERE { wd:Q174843 wdt:P106 wd:Q1804811 . wd:Q174843 wdt:P106 wd:Q33231 } limit 100
Request failed with status code 400
Failed query number 2
3
SELECT ?answer WHERE { wd:Q675176 wdt:P515 ?X . ?X wdt:P156 ?answer} limit 100
4
select distinct ?answer where { wd:Q32491 wdt:P3362 ?answer} limit 100
5
SELECT DISTINCT ?sbj ?sbj_label WHERE { ?sbj wdt:P31 wd:Q134041 . ?sbj rdfs:label ?sbj_label . FILTER(STRSTARTS(lcase(?sbj_label), 'p')) . FILTER (lang(?sbj_label) = 'en') } LIMIT 25

In [30]:
v_df = pd.DataFrame(v)

In [31]:
len(v_df[v_df[0] == 'Pass'])

5

    
## Validate the queries

In [32]:
def generate_sparql(question):
    sparql = translator(f"translate English to SPARQL: {question}")
    logging.info(f'sparql {sparql}')
    return sparql

In [33]:
generate_sparql('What are the most common types of liver infection')

"SELECT ?type (COUNT(?disease) AS ?count) WHERE { ?disease wdt:P31 ?type . ?disease rdfs:label ?label . FILTER(LANG(?label) = 'en') FILTER(CONTAINS(LCASE(?label), 'liver infection')) } GROUP BY ?type ORDER BY DESC(?count) LIMIT 10"

In [34]:
def generate_lots_of_sparql(l):
    result = []
    count = 0
    for s in l:
        # if count % 10 == 0:
        print(s) 
        print(count)
        try:
            sp = generate_sparql(s)
        except Exception:
            sp = ""
        result.append(sp)
        count += 1
    print(count)
    return result

In [35]:
%%time
queries = generate_lots_of_sparql(lcquad_df['question'].loc[50:549])

Which country has highest individual tax rate?
0
When did James Thomas Farrell receive the St. Louis Literary Award?
1
When was Pablo Picasso's partnership with Fernade Oliver over?
2
What is the product with the lowest consumption rate per capita whose has part is paraffin wax?
3
No item found for 'bd:serviceParam'
What are the coordinates for the geographic center of Michigan, as determined by the center of gravity of the surface?
4
Is the life expectancy of Indonesia 55.3528?
5
When did Emmerson Mnangagwa begin going to the University of Zambia?
6
What kind of career does Grigori Kozintsev have in the screenwriting field?
7
what is hypothetical protein ecia139-4120 habitat of found in species?
8
What sovereign state replaced the Kingdom of Great Britain?
9
Of the century breaks of the Colm Gilcreest equal less than 9.6?
10
In which country the Golden Horde used to live ?
11
Located in the Central District, what is the county seat whose twin cities include Feodosiya?
12
No item found for ''
When did Nicaragua count a population of 3.87732e+06 inhabitants?
13
What does emigration mean?
14
Which is the meta-organization that is regulated by the football association?
15
When was the spouse divorced Nero in 9-6-68
16
n/a
17
Former champion Francisco Alarcon gave what award to Art Spiegelaman?
18
No property found for 'Former champion'
Are there more than 0 survivors of the Charkhi Dadri mid-air collision
19
When did Secretariat receive the Triple Crown Trophy?
20
Which borders of borders of Riverside have a start date of 1984-0-0?
21
Which is the facility of the defensive wall?
22
What is  in the IHO Hydrographic Dictionary (S-32) Number of lighthouse ?
23
Which is the fictional analog of Hippocampus?
24
What is a cause of death that begins with the letter "p" and can be found on a CT scan?
25
What is established by Archbishop of Canterbury, who is a male?
26
In what area is Fernandel buried at the Passy Cemetery?
27
Name the naval artillery wirh the smallest firing range?
28
What is the name of a Cayenne Pepper that also has dates?
29
Is the throughput of the Vest-vassdraget equal to 2697.672?
30
What method did the census use to determine the population of Taguig?
31
What award did Olga Tokarczuk receive in 2015?
32
What is Porky Pig in right now?
33
When did publisher of Pac-Man and place of publication?
34
Was Aleister Crowley educated at Trinity College and Eton College?
35
What is {located next to Quincy,} in the {novel, Infinite Jest}?
36
Who awarded Eric Hobsbawm an honorary doctorate?
37
What was the last team Allan Border belonged to in the year 1980?
38
Give me a film character from a fictional universe, such as Marvel comics that starts with a W.
39
Mention the fictional universe described or included in The Matrix.
40
What is {award received} of {Hans Krebs} where {point in time} is {1966-0-0} ?
41
Which record label signed Janet Jackson?
42
What is Tanzania's total reserves?
43
Does the slope rating of the Merion Golf Club equal 149
44
What is the density of hydrogen peroxide at a temperature of 20.0?
45
who architecture firm of home field of new york centaurs?
46
Which { meansseason starts} in {February} ?
47
Who is {champ} of {prize awarded} {Lily Tomlin} ?
48
What is the ammunition of the weapon, that has been used in the war in Southeast Asia?
49
Tell me every horse breed whose name starts with the letter z
50
The University of Florida is a member of which coalition?
51
Who is the brother in law of the writer Quran?
52
What is the New Zealand Gazetteer place id for Auckland?
53
What does the painting Grade Odalisque represent which has DRTL backwards?
54
Name an empire that contains the word "british" in its name
55
What is the instance of Antonio da Correggio whose date of birth is 1489-8-1?
56
Who was the teacher that supervised Shigeno Yasutsugu?
57
What is the SANDRE ID for Rhine?
58
When did Kylie Minogue receive the Gold Logie Award for Most Popular Personality on Australian Television?
59
What business does Alexander McQueen have?
60
Tell me the Greek deity of sibling of Zeus and that contains the word poseidon in it's name?
61
Who organizes the order of Ultima III: Exodus?
62
Who was the lead actor for the movie Deadpool?
63
Mention the musical related work highlighting the work of Sasha Grey.
64
What award did John de Mol receive in 2011?
65
Is the total fertility rate of Algeria greater than 3.4284?
66
When will the pressure and temperature of water reach the triple point stage?
67
Tell me physical phenomenon whose name has the word surface in it.
68
where does Vladimir putin reside?
69
Which is the municipality of Belgium that has the headquarters location of European Union?
70
Which is made from the goat meat having a common name as Domestic Goat?
71
What is located on terrain feature of Multonmah Falls?
72
No item found for 'Multonmah Falls'
Stonewall Jackson commanded what battle?
73
Mention the temperature and the state of the matter of water upon achieving the critical point
74
which is the point time for syria has population as 8.08815e+06?
75
Does marketing involve Human communication, and packaging and labeling?
76
No property found for 'Involves'
WHICH IS THE STAGE RACE WITH THE MAXIMUM FREQUENCY OF EVENT
77
WHICH IS THE AUSTRIAN MUNICIPALITY KEY OF  KLAGENFURT
78
Tell me the autonomous region of the People's Republic of China which contains the word xinjiang in it's name?
79
What is the Velká pardubická with the lowest race time whose winner is Peter Gehm?
80
Who is the author of the Watchmen and what award did they receive?
81
n/a
82
Name a book written in Esperanto
83
What is the general manager of Bernard Hinault?
84
Name the FSK 12 rated 3D film with the highest cost ?
85
How many are interested in Daniel Dennett?
86
In 1996, what significant event happened in the administrative territorial entity of Bristol?
87
Where is the river source of the Rhine?
88
What was Cate Blanchett nominated for her work in I'm Not There?
89
Tell me the tower that is depicted as Tower of Babel and contains the word babel in it's name?
90
What position was held by Harold Macmillan in the 34th Parliament of the United Kingdom, when was he elected, and why did he leave?
91
is the maximum wavelength of sensitivity of the human eye equal to 700?
92
Where was the location of birth of Hermann Heinrich Gossen, that has Q48460 such that 2--4355126?
93
No item found for 'The location of birth of Hermann Heinrich Gossen'
Who received the Nobel Prize in Literature after Mo Yan?
94
When did Eiji Toyoda win an award for his work in Order of Prince Henry?
95
When was Jimmy Wales employed as Bomis and when did he leave?
96
No property found for 'Employment history'
Which is the author of afterword of Erich Fromm?
97
Who are worked for Michelle Wolf and its source location of group/organisation is located in New York City?
98
What are the unit of measurement which start with the letter visus
99
No item found for 'Has unit symbol'
what was the publication date for iTunes which has software version as 12.7.5?
100
Dennis M. Ritchie designed which structured programming language?
101
What role does Mickey Mouse play in the creative work of Ben Sharpsteen?
102
What is the stock exchange for the ticker symbol 0700 in Tencent?
103
What are the head of state and the office held by head of state of the Soviet Union?
104
What is the name of award recieved for Dawn Fraser has participant of 1960 Summer Olympics ?
105
What is the parent organization for the International Court of Justice?
106
What is the beginning of Sarajevo's
107
What significant event in 1978-6-1 is Michelle Bachelet known for?
108
What is the solubility of methyl chloride in water?
109
No property found for 'Solubility in water'
What five U.S. states does the Delaware River drain from?
110
None
111
Which birth language is Chizoba Ejike?
112
No item found for 'Chizoba Ejike'
What is the ionization energy of the nicotine?
113
Is tuberculosis prevalent?
114
Who is {creators} of {language of the original work} {Star Trek Into Darkness} ?
115
Who is the spouse of Aaliyah and when did they divorce?
116
What is {inhabitants} {nationality} of {Leopold von Sacher-Masoch} ?
117
What is the affiliation building in Columbia University
118
What is the commune of France with the lowest population whose located in time zone is UTC+01:00?
119
What is the district of the city with the MAX(number of houses whose instance of is district of the city?
120
What is Bram Stoker's occupation and field of work and did he work in Dublin Castle?
121
How many seasons of Handball-Bundesliga are there?
122
"What is place of residence of Wangari Maathai,that has inflation rate of consumer price index as 2.9?"
123
Who is the child of Pompey and the mother, Mucia Tertia?
124
Name an alcoholic beverage that contains the word "rum " in its name
125
How many terminus are in Vienna
126
What is in the region of Paroo River, that divides into Ku-ring-gai Council?
127
No item found for 'Paroo River Region'
What has been the ister city of Changchun since Aug 25th, 1992?
128
How many rivers and lakes are connected to Lake Urmia?
129
Tell me soil type whose name has the word vertisol in it.
130
What is Lizzy Yarnold's TheSports.org athlete ID?
131
What is { award received } from { Justin Timberlake } that is { point in time } is { 2007 - 0 - 0 }?
132
Which religious concept starts with the letter t
133
Is it true that the explosive energy equivalent of Father of All Bombs is less than 52.8?
134
When did child of Abigail Adams and date of birth?
135
Does the Becherovka alcohol by volume less than 30.4
136
What are the prefecture-level city  which start with the letter ürümqi
137
tell me ceremony whose name has the word umhlanga in it
138
Which is {played as} of {symbol} of {inequality} ?
139
What is edition runtime for League of Legends?
140
What is the name of the Dutch municipal coat of arms of Amsterdam?
141
No property found for 'municipal coat of arms'
Which is the sauce that originated in Korea?
142
How many depositors are with the {United Nations Secretary-General} ?
143
No property found for 'Depositor'
Which is the electric charge for antihydrogen?
144
Who gave the {is shown in} of {based upon} of {Clark Kent} ?
145
How far west are we?
146
Tell me national association football team whose name has the word team in it.
147
Tell me the most notable work of Christopher Hitchens and also the publisher.
148
What is the INSEE countries and foreign territories code for the Democratic Republic of Congo?
149
No item found for 'INSEE country code'
What is the warheroes.ru ID for Yuri Gagarin?
150
Is the diameter pf nickel equal to 0.807?
151
Is the stated age of Rolf-Axel Eberhardt greater than 52?
152
When Podgorica started as Principality of Montenegro?
153
IS THE ENTHALPY OF VAPORIZATION OF METHANOL IS EQUAL TO 37400
154
What award was received Mary Tyler Moore ?
155
what is Tuesday named after?
156
How many of the archives are for Grace Hopper?
157
Which is the narrative location of Siddhartha?
158
Where is the place of Tartuffe's first performance with the farthest east coordinates of 48.8363848 2.4697602?
159
What are the military operation which start with the letter o
160
Is the matches/games drawn/tied of the 2001 British and Irish Lions tour to Australia equal to 0?
161
Who is the mother and husband of Candice Bergen?
162
"Which language written from Romy Schneider, has the grammatical person speaking as the third personal plural?"
163
Does the cash back of the Gold  ADAC Credit Card equals 5?
164
Who is the opposite of the superhero?
165
What is the use of playing World Rugby?
166
What is the current population of Aden?
167
what is spouse of Carlos Saura that is start time is 2006?
168
How many numbers of exclave for the  {Azerbaijan} ?
169
Which is the total equity of Micron Technology?
170
Was Michael J. Fox's place of birth in Edmonton?
171
What is Palace of Westminster's architect and heritage designation?
172
is it true that the SSK6-1s optimum viable temperature is greater than 24.0?
173
Which country housed the Indian Independence Movement?
174
No property found for 'Location of Indian Independence Movement'
Name a nonmetal discovered in England  that starts with letter O
175
What did Sidney Crosby draft?
176
How many shogun military ranks are there?
177
No item found for 'shogun military rank'
Who was presumably thought to be a student of Strabo?
178
What position did John Hume hold, when was he elected, and what position did he hold in the 53rd Parliament of the United Kingdom?
179
Who is the son of Jacob Conover?
180
Gordon Lightfoot was nominated for what at what time?
181
What is John X's persumed date of date according to sourcing circumstances?
182
No property found for 'Presumed date of death'
Which is the patron saint of the place of death of Anna de' Medici?
183
Is it true that the fee of Harvard University is less than 90?
184
What is BIA PSY person ID for Carl Rogers ?
185
Who is the captain of F.C. Porto?
186
What are the autonomous region of the People's Republic of China which start with the letter X
187
What is the time zone that Marseille is located in?
188
What award did Harry Martinson adn Eyvind Johnson receive together?
189
Mention the headquarter location of the Russian Orthodox Church monastery.
190
What is Bandysidan player ID for Sergey Lomanov ?
191
Who are the writers of the academic subject Ten simple rules for editing Wikipedia?
192
Name the female who discovered the Horsehead Nebula.
193
Name a fruit composed of Citrullus lanatus that starts with letter W
194
What conflict is depicted is Raising the Flag on Iwo Jima?
195
What what is unary operation notation by integral symbol and which that starts with {'i'}
196
No item found for 'Unary operation notation'
What is being treated in an individual with arteriosclerosis?
197
What is the category for recipients for the Noble Prize?
198
At what rate was inflation in Venezuela in the year 1996?
199
When was Vittorio De Sica nominated for an Academy Award for Best Supporting Actor?
200
What is Auñamendi ID of Miguel López de Legazpi ?
201
What is the timezone of the place Sallust died?
202
Did the East India Company own the Britannia and the Busbridge?
203
Which is the ISNI for Marit Bjørgen?
204
What is total fertility rate of Trinidad and Tobago that is determination method is estimation process ?
205
Which church is located in the parish border Krukengrund?
206
What was Philip Roth nominated for in 2011?
207
Where is the deathplace of Gediminas, whose twin town is Irkutsk?
208
What is the fuel system of electricity?
209
In the 68th Academy Awards, what nomination did Mira Sorvino receive?
210
Tell me interface standard whose name has the word virtuallink in it.
211
No property found for 'Interface standard name'
What is Ferenc Molnar's compArt person ID?
212
Which is the Great Aragonese Encyclopedia ID for Allium cepa?
213
Tell me medical specialty whose name has the word trichology in it.
214
how many performances are by jimi hendrix?
215
What is the state of India that contain the word "uttarakhand" in its name ?
216
Who is drafted by the Boston Celtics?
217
Name the BAFTA settlement with the postcode DA.
218
Is the maximum number of players for the coxless four 0.0?
219
Name a religious concept in Hinduism that contains the word "yatra" in its name
220
Which is the golf course arena carrying designs patterns of Donald Trump?
221
n/a
222
What is the religious affiliation of Vladimir the Great's child?
223
What was the population of the Maldives in 1967?
224
What year did Le Corbusier win the Frank P. Brown Medal?
225
No property found for 'Award name'
Tell me the city which is enclaved within Montreal.
226
who was the pope replaced by?
227
Is it true that the minimum wavelength sensitivity of the Giant Magellan Telescope is 320?
228
Which is a used metre of lliad?
229
"Where is {on harbour} of {Kryvyi Rih}, which has {tributary} is {Saksahan} ?"
230
Who stars with Ian Carlyle in the production?
231
What causes rain?
232
What is the service branch  by Julius and Ethel Rosenberg, which has subsidiary entities including Arlington National Cemetery?
233
Was Hank WIlliams a rockabilly and honky-tonk musician?
234
When did Aaron Kwok receive the award for Golden Horse Award for Best Leading Actor?
235
When did Marco Polo marry Donata Badoer?
236
Who was Al Gore's spouse beginning in 1970?
237
What appearance of a Christmas tree happens every January 19?
238
What is the home venue of the Green Bay Packers?
239
Which is the enterprise for the parent organization of Sears?
240
Who proved the theory of Proper Motion? Their surname is Halley.
241
What head coach is the New York Yankees named after?
242
What are the national cuisine which start with the letter m
243
Which is the television series which contains the word zigby in it's name?
244
Tell me about spouse of Barbara Walters and start time?
245
What is the second language of Peter Faber which regulatory body is Pontifical Academy of Latin?
246
What is the honorary title given to Albert Gunther which was won by P.A. Buxton?
247
Is it true that the topographic isolation of Pollux equals to 0.7?
248
What award did Edward C. Prescott receive on 1-1-2004?
249
where is the headquartes of  formation of google located?
250
What is melody of Tristan und Isolde ?
251
What time has Manhattan listed as the end time for a maritime evacuation event?
252
What has the eccentricity of 0.0567, that is located on astronomical body of the near side of the moon?
253
What is the diplomatic relations like in basin countries of Lake Okeechobee?
254
What two cities hold the principle offices of Financial Times?
255
No property found for 'Principle Office'
How many active ingredients are in lidocaine?
256
Where was Augustus II the Strong buried?
257
Is it true that the semi-major axis of 1627 Ivar is greater than 2.2361778?
258
What is the CBS municipality code of Nijmegen?
259
Was Herbie Hancock the winner of the award for the Grammy Award for Best Pop Collaboration with Vocals?
260
What is the total fertility rate of Sudan with estimation process?
261
Is the half-life of silicon-36 less than 0.54?
262
What is a sovereign state for office held by the pope's head of state?
263
What is the Malayalam alphabet?
264
Which programming language did Dennis M. Ritchie create?
265
WHICH IS THE ZUCKERART THAT CONTAINS WITH THE WORD SYRUP IN THER NAME
266
Which reward was The Diary of Anne Frank a nominee for?
267
Name a business whose heaquarters are located in Lyon
268
What is the Commons category of Classic of Poetry ?
269
Who was married to Ida Lupino on January 1st, 1951?
270
What agent had conflict with Lowell English?
271
What does European Parliament approve?
272
WHat location that belongs to the World Heritage starts with the letter H
273
mike krzyzewski name
274
What is Fantastic Fiction author ID of James Ellroy?
275
Where was Syrie Maugham's country of citizenship in 1927?
276
"Who is {took part in} of {boy}, which has {theatre season} is {classical antiquity} ?"
277
What administrative territorial entity was Sint Maarten located in the year December 15, 1954?
278
What is the density of aluminium at a temperature of 20 degrees?
279
What is the country of citizenship and the religion of Elizabeth_Smart ?
280
Which is the GeneReviews ID for Alzheimers disease?
281
When did Artem Sergeev, adopted son of Joseph Stalin, die?
282
"What is {holds position} of {Martin McGuinness}, which has {prequel of} is {Member of the 55th Parliament of the United Kingdom} ?"
283
What what is animated taxondistributed by MGM and {family}
284
Which is the SAHRA heritage site ID for University of Cape Town?
285
What is the CPU with the greatest charge?
286
When did Sarah Bernhardt and Jacques Damala split up?
287
"What is the birth city of Kirsten Stewart, with the county seat of Los Angeles County?"
288
Where {faith} {has influence} on {Madonna} ?
289
What in the code for INS?
290

In [36]:
len(queries)

500

In [40]:
serialized_list = json.dumps(queries)

with open("gpt3_turbo_queries.json", "w") as output_file:
    output_file.write(serialized_list)

In [71]:
%%time
v = validate_queries(queries)

0
SELECT ?country ?tax_rate WHERE { ?country wdt:P31 wd:Q6256 . ?country wdt:P297 ?iso_code . ?country wdt:P710 ?tax . ?tax wdt:P17 ?country . ?tax wdt:P2 ?tax_type . FILTER(?tax_type = wd:Q1056898) BIND(xsd:decimal(?tax) as ?tax_rate) } ORDER BY DESC(?tax_rate) LIMIT 1
1
SELECT ?date WHERE { ?Q51929074 rdfs:label "James Thomas Farrell"@en . ?Q51929074 wdt:Q43380 ?Q618779 . ?Q618779 rdfs:label "St. Louis Literary Award"@en . ?Q618779 wdt:Q47150325 ?date . } limit 100
2
SELECT ?end_date WHERE { wd:Q5593 wdt:P451 ?partner . ?partner wdt:P582 ?end_date . ?partner rdfs:label 'Fernande Olivier'@en . } limit 100
3
SELECT ?productLabel WHERE { ?product wdt:P31 wd:Q542929 . ?product wdt:Q70339049 ?consumptionRate . ?product wdt:Q96775080* wd:QINSERT . FILTER NOT EXISTS { ?product wdt:Q96775080 ?subProduct . ?subProduct wdt:Q70339049 ?subConsumptionRate . FILTER(?subConsumptionRate < ?consumptionRate) } } ORDER BY ?consumptionRate LIMIT 1 SERVICE wikibase:label {  wikibase:language 'en'. ?product Q18127 ?productLabel. }
Request failed with status code 400
Failed query number 3
4
SELECT ?latitude ?longitude WHERE { wd:Q1166 wdt:P625 ?coordinates . ?coordinates wdt:P6258 ?latitude . ?coordinates wdt:P6257 ?longitude } limit 100
5
SELECT ?result WHERE { wd:Q252 wdt:Q188419 ?life_expectancy . FILTER(?life_expectancy = 55.3528) BIND(xsd:boolean(?life_expectancy = 55.3528) as ?result) } limit 100
6
SELECT ?start_date WHERE { wd:Q510523 wdt:P69 ?education . ?education wdt:P1711 wd:Q2096836 . ?education wdt:P580 ?start_date . } limit 100
7
SELECT ?career WHERE { wd:Q553072 wdt:P106 ?occupation . ?occupation wdt:p-SubclassOf* wd:Q115156386 . ?occupation rdfs:label ?career . FILTER(LANG(?career) = 'en') } limit 100
8
SELECT ?habitat WHERE { ?protein wdt:P688 ?gene . ?gene wdt:P703 ?species . ?protein rdfs:label "hypothetical protein ecia139-4120"@en . ?species rdfs:label "{{Q7432}}"@en . ?protein wdt:P2974 ?habitat . } limit 100
9
SELECT Q72940387 WHERE { wd:Q161885 Q21503252/Q21503252/Q61268336* wd:Q3624078 . Q72940387 Q21503252/Q21503252/Q61268336* wd:Q3624078 . Q72940387 Q24575109 wd:Q161885 . } limit 100
Request failed with status code 400
Failed query number 9
10
SELECT ?result WHERE { wd:Q671965 wdt:P4912 ?century_break . FILTER(?century_break <= 9.6) BIND(xsd:boolean(?century_break <= 9.6) as ?result) } limit 100
11
SELECT ?countryLabel WHERE { wd:Q79965 wdt:P625 ?country . ?country wdt:p-Instance_of wd:Q83440 . SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . } } limit 100
12
SELECT  WHERE { ?city wdt:P361 Q57525 . ?city wdt:P190 Q158491 . ?city wdt:P36  . } limit 100
Request failed with status code 400
Failed query number 12
13
SELECT ?date WHERE { ?country rdfs:label "Nicaragua"@en . ?country wdt:P1082 ?population . ?population wdt:Q186408 ?date . FILTER(?population = 3.87732e+06) } limit 100
14
SELECT ?definition WHERE { wd:Q187668 wdt:P2325 ?definition . SERVICE wikibase:label { bd:serviceParam wikibase:language "en". } } limit 100
15
SELECT Q37178026 WHERE { Q37178026 wdt:P128 wd:Q2736 . Q37178026 wdt:P31 wd:Q37178026 } limit 100
Request failed with status code 400
Failed query number 15
16
SELECT ?divorce_date WHERE { wd:Q1413 p:P26 ?spouse_statement . ?spouse_statement ps:P26 wd:Q1196129 . ?spouse_statement pq:P580 ?start_time . OPTIONAL { ?spouse_statement pq:P582 ?end_time } FILTER(?start_time <= "9-6-68"^^xsd:dateTime) FILTER(!bound(?end_time) || ?end_time >= "9-6-68"^^xsd:dateTime) BIND(xsd:string(?end_time) as ?divorce_date) } limit 100
17
 limit 100
Request failed with status code 400
Failed query number 17
18
SELECT ?award WHERE { ?champion wdt:P2517 wd:Q325945 . ?champion wdt:P166 ?award . ?champion wdt:P1346 ?competition . ?champion wdt: wd:Q80892 . } limit 100
19
SELECT ?result WHERE { wd:Q118373 wdt:P4130 ?survivor . { SELECT (COUNT(?survivor) as ?count) WHERE { wd:Q118373 wdt:P4130 ?survivor } } FILTER(?count > 0) BIND(xsd:boolean(?count > 0) as ?result) } limit 100
20
SELECT ?date WHERE { ?secretariat wdt:Q21096945 ?award . ?award wdt:Q21503252 wd:Q618779 . ?award wdt:Q420477 wd:Q1151926 . ?award wdt:Q21096945 wd:Q7843370 . ?award wdt:Q186408 ?date . FILTER(lang(?date) = 'en') } limit 100
21
SELECT ?result WHERE { ?r1 wdt:P47 ?r2 . ?r2 wdt:P276 wd:Q486972 . ?r1 wdt:P276 wd:Q486972 . ?r1 wdt:P580 ?start_date . FILTER(?start_date = xsd:dateTime('1984-01-01T00:00:00Z')) BIND(xsd:boolean(?start_date = xsd:dateTime('1984-01-01T00:00:00Z')) as ?result) } limit 100
22
SELECT ?facilityLabel WHERE { ?defensive_wall wdt:P846 ?facility . SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . } } limit 100
23
SELECT ?lighthouse_number WHERE { ?dictionary_item rdfs:label "IHO Hydrographic Dictionary (S-32)"@en . ?dictionary_item wdt:P527 ?lighthouse . ?lighthouse wdt:P31 wd:Q39715 . ?lighthouse wdt:P4423 ?lighthouse_number } limit 100
24
SELECT ?fictional_analog WHERE { ?fictional_analog wdt:P31 Q2593744 . ?fictional_analog rdfs:label ?label . FILTER(LANG(?label) = 'en' && LCASE(?label) = LCASE('Hippocampus')) } limit 100
Request failed with status code 400
Failed query number 24
25
SELECT ?cause_of_death WHERE { ?cause_of_death wdt:P31 wd:Q146 . ?cause_of_death wdt:P828 ?scan_technique . ?cause_of_death wdt:P509 ?cause_of_death_manner_of_death . FILTER(STRSTARTS(LCASE(?cause_of_death_manner_of_death), 'p') && LCASE(?scan_technique) = 'ct scan') } limit 100
26
SELECT Q574562 WHERE { Q574562 Q23058136 Q105080069 . Q574562 Q1775415 Q6581097 } limit 100
Request failed with status code 400
Failed query number 26
27
SELECT Q15060255 WHERE { wd:Q129092 wdt:P119/wdt:P131* wd:Q1092107 . wd:Q1092107 wdt:P276 ?area . SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . } } limit 100
Request failed with status code 400
Failed query number 27
28
SELECT ?naval_artillery ?firing_range WHERE { ?naval_artillery wdt:P31 wd:Q18616576 . ?naval_artillery wdt:P1072 ?firing_range . FILTER NOT EXISTS { ?naval_artillery wdt:P31 wd:Q15720608 } } ORDER BY ASC(?firing_range) LIMIT 1
29
SELECT ?cayenne_pepper_name WHERE { ?cayenne_pepper wdt:P652 wd:Q6598 . ?cayenne_pepper wdt:P652 wd:Q81204096 . ?cayenne_pepper rdfs:label ?cayenne_pepper_name . FILTER(LANG(?cayenne_pepper_name) = 'en') } limit 100
30
SELECT ?result WHERE { wd:Q58370919 wdt:P2957 ?throughput . FILTER(?throughput = 2697.672) BIND(xsd:boolean(?throughput = 2697.672) as ?result) } limit 100
31
SELECT ?method WHERE { wd:Q1643 wdt:P1082 ?population . ?population wdt:P459 ?method . } limit 100
32
SELECT ?award WHERE { ?person rdfs:label "Olga Tokarczuk"@en . ?person wdt:P166 ?award . ?award wdt:P585 ?date . FILTER(YEAR(?date) = 2015) } limit 100
33
SELECT ?result WHERE { wd:Q937186 wdt:P31 ?result . } limit 100
34
SELECT ?publisher ?place_of_publication WHERE { wd:Q173626 wdt:P123 ?publisher . wd:Q173626 wdt:P291 ?place_of_publication } limit 100
35
SELECT ?result WHERE { wd:Q172684 wdt:P69 wd:Q332342 . wd:Q172684 wdt:P69 wd:Q192088 . BIND(xsd:boolean(EXISTS { wd:Q172684 wdt:P69 wd:Q332342 . wd:Q172684 wdt:P69 wd:Q192088 . }) AS ?result) } limit 100
36
SELECT ?result WHERE { ?novel rdfs:label "Infinite Jest"@en . ?novel wdt:P625 ?location . ?location rdfs:label "Quincy"@en . ?location wdt:P3032 ?result } limit 100
37
SELECT ?awarding_institution WHERE { ?honorary_doctorate wdt:P166 ?person . ?honorary_doctorate wdt:P1035 "Honorary Doctorate" . ?honorary_doctorate wdt:P166 ?awarding_institution . FILTER(CONTAINS(LCASE(?personLabel), LCASE("Eric Hobsbawm"))) } limit 100
38
SELECT ?team WHERE { ?player wdt:P54 ?team ; wdt:P106 wd:Q1392194 ; wdt:P569 ?year . FILTER(?year = 1980) FILTER NOT EXISTS { ?player wdt:P582 ?end_date . FILTER(?end_date > "1980-12-31T23:59:59Z"^^xsd:dateTime) } } ORDER BY DESC(?player) LIMIT 1
39
SELECT ?characterLabel WHERE { ?character wdt:P31 wd:Q95074 . ?character wdt:P674 ?universe . FILTER(CONTAINS(LCASE(?universeLabel), LCASE('fictional universe'))) . ?character wdt:P674 ?universe . FILTER(CONTAINS(LCASE(?universeLabel), LCASE('marvel comics'))) . ?character rdfs:label ?characterLabel . FILTER(CONTAINS(LCASE(?characterLabel), LCASE('W'))) . FILTER(LANG(?characterLabel) = 'en') } limit 100
40
SELECT ?universeLabel WHERE { wd:Q193825 wdt:P973 ?universe . ?universe rdfs:label ?universeLabel . FILTER(LANG(?universeLabel) = 'en') } limit 100
41
SELECT ?award_received WHERE { wd:Q57191 p:P166 ?award_statement . ?award_statement ps:P166 ?award_received ; pq:P585 ?time . FILTER(?time >= "1966-01-01T00:00:00Z"^^xsd:dateTime && ?time <= "1966-12-31T23:59:59Z"^^xsd:dateTime) } limit 100
42
SELECT ?record_label WHERE { ?Q131324 jackson:artistName "Janet Jackson" . ?Q131324 wdt:P264 ?record_label . ?record_label wdt:P31 wd:Q18127 . } limit 100
Request failed with status code 400
Failed query number 42
43
SELECT ?total_reserves WHERE { wd:Q924 p:P28 ?statement . ?statement ps:P28 wd:Q924 . ?statement pq:P4100 ?total_reserves . } limit 100
44
SELECT ?result WHERE { wd:Q3962734 wdt:P3840 ?slope_rating . FILTER(?slope_rating = 149) BIND(xsd:boolean(?slope_rating = 149) as ?result) } limit 100
45
SELECT ?density WHERE { ?compound rdfs:label "Hydrogen peroxide"@en . ?compound wdt:P2054 ?density . ?compound wdt:P6879 ?temperature . FILTER(?temperature = 20.0) } limit 100
46
SELECT ?architecture_firm WHERE { Q1050571 wdt:P276 wd:Q16845909 . Q1050571 wdt:P84 ?architecture_firm . } limit 100
Request failed with status code 400
Failed query number 46
47
SELECT ?meansseason WHERE { ?meansseason wdt:P1350 ?start_date . FILTER(MONTH(?start_date) = 2) } limit 100
Request failed with status code 500
Failed query number 47
48
SELECT ?winner WHERE { ?event wdt:P166 ?prize . ?event wdt:P1346 ?winner . ?prize rdfs:label "${prize_awarded}"@en . ?winner rdfs:label ?winner_label . FILTER(LCASE(?winner_label) = LCASE("${champ}")) } limit 100
49
SELECT ?ammunition WHERE { ?weapon wdt:P366 wd:Q48967047 . ?weapon wdt:P739 ?ammunition . } limit 100
50
SELECT ?breedLabel WHERE { ?breed wdt:P31 wd:Q15304597 . ?breed rdfs:label ?breedLabel . FILTER(lang(?breedLabel) = 'en') . FILTER(STRSTARTS(LCASE(?breedLabel), 'z')) } limit 100
51
SELECT ?coalitionLabel WHERE { wd:Q501758 wdt:P102 ?coalition . ?coalition wdt:p-InstanceOf wd:Q124964 . SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' . } } limit 100
52
SELECT ?brother_in_law WHERE { ?writer wdt:P50 ?quran . ?brother_in_law wdt:P3373 ?sibling_of_writer . ?sibling_of_writer wdt:P26 ?spouse_of_sibling . ?spouse_of_sibling wdt:P50 ?quran . } limit 100
53
SELECT ?place_id WHERE { ?place wdt:P31 wd:Q107569809 . ?place rdfs:label "Auckland"@en . ?place wdt:P7471 ?place_id . } limit 100
54
SELECT ?result WHERE { ?painting rdfs:label "Grade Odalisque"@en . ?painting wdt:P180 ?depiction . ?depiction rdfs:label ?result . FILTER(STRENDS(str(?result), "DRTL")) } limit 100
55
SELECT ?empireLabel WHERE { ?empire wdt:P31 wd:Q7275 . ?empire rdfs:label ?empireLabel . FILTER(LANG(?empireLabel) = 'en') FILTER(CONTAINS(LCASE(?empireLabel), 'british')) } limit 100
56
SELECT ?instance WHERE { ?instance wdt:P31 wd:Q8457 . ?instance wdt:P569 ?date_of_birth . FILTER(?date_of_birth = xsd:dateTime('1489-08-01T00:00:00Z')) } limit 100
57
SELECT Q37226 WHERE { Q37226 Q334384 Q6533159 . Q37226 Q12737077 wd:q-Teacher } limit 100
Request failed with status code 400
Failed query number 57
58
SELECT ?sandre_id WHERE { ?river rdfs:label "Rhine"@en . ?river wdt:P1717 ?sandre_id . } limit 100
59
SELECT ?date WHERE { ?person rdfs:label "Kylie Minogue"@en . ?award rdfs:label "Gold Logie Award for Most Popular Personality on Australian Television"@en . ?person wdt:P166 ?award . ?person wdt:P585 ?date . } limit 100
60
SELECT ?business WHERE { ?person rdfs:label "Alexander McQueen"@en . ?person wdt:P106 ?business . } limit 100
61
SELECT ?deityLabel WHERE { wd:Q34201 wdt:Q21503252 wd:Q22989102 . wd:Q34201 wdt:Q31184 ?sibling . ?sibling wdt:Q21503252 wd:Q22989102 . ?sibling rdfs:label ?deityLabel . FILTER(lang(?deityLabel) = 'en') FILTER(CONTAINS(?deityLabel, 'Poseidon')) } limit 100
62
SELECT ?organizer WHERE { ?game wdt:P1476 'Ultima III: Exodus' . ?game wdt:P664 ?organizer . } limit 100
63
SELECT ?lead_actor WHERE { ?movie wdt:P31 wd:Q11424 . ?movie wdt:P161 ?lead_actor . ?movie rdfs:label "Deadpool"@en . ?lead_actor rdfs:label ?lead_actor_label . FILTER(LANG(?lead_actor_label) = "en") } limit 100
64
SELECT ?workLabel WHERE { ?work wdt:P1441 wd:Q2709 . ?work wdt:P31/wdt:P279* wd:Q2188189 . SERVICE wikibase:label { bd:serviceParam wikibase:language "en". } } limit 100
65
SELECT ?awardLabel WHERE { ?person rdfs:label "John de Mol"@en . ?person wdt:P166 ?award . ?award wdt:P585 ?date . FILTER(YEAR(?date) = 2011) SERVICE wikibase:label { bd:serviceParam wikibase:language "en" } } limit 100
66
SELECT ?result WHERE { wd:Q262 wdt:Q285897 ?total_fertility_rate . FILTER(?total_fertility_rate > 3.4284) BIND(xsd:boolean(?total_fertility_rate > 3.4284) as ?result) } limit 100
67
SELECT ?time WHERE { ?water wdt:P2067 ?triple_point . ?water wdt:P2073 ?pressure . ?water wdt:P2072 ?temperature . FILTER(?pressure = ?triple_point_pressure && ?temperature = ?triple_point_temperature) ?water wdt:P585 ?time . } limit 100
68
SELECT ?phenomenonLabel WHERE { ?phenomenon wdt:P31/wdt:P279* Q93398212 . ?phenomenon Q18127 ?phenomenonLabel . FILTER(LANG(?phenomenonLabel) = 'en') FILTER(CONTAINS(LCASE(?phenomenonLabel), 'surface')) } limit 100
Request failed with status code 400
Failed query number 68
69
SELECT ?place WHERE { wd:Q7747 wdt:P551 ?place . } limit 100
70
SELECT ?municipality WHERE { ?eu wdt:P159 ?headquarters . ?headquarters wdt:P131 ?municipality . ?municipality wdt:p-country Q31 } limit 100
Request failed with status code 400
Failed query number 70
71
SELECT ?result WHERE { ?result wdt:P652 wd:Q449506 . ?result wdt:P1843 'Domestic Goat' } limit 100
72
SELECT ?result WHERE { wd: wdt:P706 ?result . } limit 100
73
SELECT ?battleLabel WHERE { ?battle wdt:P4791 wd:Q216124 . SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' . } } limit 100
74
SELECT ?temperature ?state_of_matter WHERE { wd:Q7892 wdt:Q11579 ?temperature . wd:Q7892 wdt:Q108807274 ?state_of_matter . FILTER(?temperature = 647.096) FILTER(?state_of_matter = wd:Q7269030) } limit 100
75
SELECT ?point_in_time WHERE { ?syria Q15715409 ?population . ?population Q24533326 ?population_amount . ?population_amount Q2360980 ?amount . ?population_amount wikibase:quantityUnit Q5 . ?population_amount Q186408 ?point_in_time_statement . ?point_in_time_statement ps:P585 ?point_in_time . FILTER(?amount = 8.08815e+06) } limit 100
Request failed with status code 400
Failed query number 75
76
SELECT ?result WHERE { wd:Q39809 wdt: ?involvement1 . ?involvement1 (wdt:p-SubclassOf)* wd:Q5936993 . ?involvement2 (wdt:p-SubclassOf)* wd:Q207822 . wd:Q39809 wdt: ?involvement2 . BIND(xsd:boolean(EXISTS {?involvement1 (wdt:p-SubclassOf)* wd:Q5936993 . ?involvement2 (wdt:p-SubclassOf)* wd:Q207822}) as ?result) } limit 100
77
SELECT ?stage_race (COUNT(?event) AS ?event_count) WHERE { ?stage_race wdt:P31 wd:Q207694 . ?stage_race wdt:P793 ?event . } GROUP BY ?stage_race ORDER BY DESC(?event_count) LIMIT 1
78
SELECT ?municipality_key WHERE { ?municipality wdt:P439 ?municipality_key . ?municipality rdfs:label 'Klagenfurt'@en . ?municipality wdt:P17 wd:Q40 . } limit 100
79
SELECT ?regionLabel WHERE { ?region wdt:Q21503252 wd:Q17269 . ?region Q18127 ?regionLabel . FILTER(lang(?regionLabel) = 'en') FILTER(CONTAINS(LCASE(?regionLabel), 'xinjiang')) FILTER(?region wdt:Q83440 wd:Q985488) } limit 100
Request failed with status code 400
Failed query number 79
80
SELECT ?race ?time WHERE { ?race wdt:P1346 Q12044712 . ?race wdt:P2781 ?time . ?race wdt:P2094 ?competition . ?competition rdfs:label "Velká pardubická"@en . } ORDER BY ASC(?time) LIMIT 1
Request failed with status code 400
Failed query number 80
81
SELECT ?author ?award WHERE { ?work wdt:P1476 "Watchmen" . ?work wdt:P50 ?author . ?author wdt:P166 ?award . } limit 100
82
 limit 100
Request failed with status code 400
Failed query number 82
83
SELECT ?bookLabel WHERE { ?book wdt:P31 wd:Q571 . ?book wdt:P407 wd:Q143 . ?book rdfs:label ?bookLabel . FILTER(LANG(?bookLabel) = 'en') } LIMIT 1
84
SELECT ?general_managerLabel WHERE { wd:Q109255 wdt:P505 ?general_manager . SERVICE wikibase:label { bd:serviceParam wikibase:language "en". } } limit 100
85
SELECT ?film_name WHERE { ?film wdt:P31 wd:Q11424 . ?film wdt:P577 ?date . ?film wdt:P2142 ?rating . ?film wdt:P2130 ?cost . FILTER(?rating = 'FSK 12'@en) FILTER(?date < NOW()) BIND(?cost as ?cost_in_euros) FILTER(?cost_in_euros = (SELECT MAX(?cost2) WHERE { ?film2 wdt:P2142 ?rating . ?film2 wdt:P2130 ?cost2 . FILTER(?rating = 'FSK 12'@en) })) ?film rdfs:label ?film_name . FILTER(LANG(?film_name) = 'en') } limit 100
Request failed with status code 400
Failed query number 85
86
SELECT (COUNT(?item) as ?count) WHERE { ?item rdfs:label ?label . FILTER(CONTAINS(LCASE(?label), 'daniel dennett')) . ?item wdt:P683 ?interest } limit 100
87
SELECT ?Q34578231 WHERE { ?event Q186408 ?date . ?event wdt:P131 Q23154 . ?event Q21503252 ?type . FILTER(YEAR(?date) = 1996) FILTER(CONTAINS(LCASE(?Q1542343), 'event')) SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' . } } limit 100
Request failed with status code 400
Failed query number 87
88
SELECT ?source WHERE { wd:Q584 wdt:P248 ?source . } limit 100
89
 limit 100
Request failed with status code 400
Failed query number 89
90
SELECT ?tower WHERE { ?tower wdt:P180 wd:Q41213 . ?tower rdfs:label ?label . FILTER(CONTAINS(LCASE(?label), 'babel') && LANG(?label) = 'en') } limit 100
91
SELECT ?position ?election_date ?reason_for_leaving WHERE { wd:Q128985 wdt:P39 ?position_statement . ?position_statement ps:P39 ?position . ?position_statement pq:P1614 wd:Q21084451 . OPTIONAL { ?position_statement pq:P2715 ?election . ?election Q186408 ?election_date . } OPTIONAL { ?position_statement pq:P10441 ?reason . ?reason rdfs:label ?reason_for_leaving . FILTER(LANG(?reason_for_leaving) = 'en') } } limit 100
Request failed with status code 400
Failed query number 91
92
SELECT ?result WHERE { wd:Q430024 wdt:P3737 ?max_wavelength . FILTER(?max_wavelength = 700) BIND(xsd:boolean(?max_wavelength = 700) as ?result) } limit 100
93
SELECT ?birth_location WHERE { wd:Q62835 wdt:Q1322263 ?birth_location . FILTER(?birth_location = wd:) } limit 100
94
SELECT ?nobel_laureate WHERE { ?nobel_laureate wdt:P31 wd:Q5 . ?nobel_laureate wdt:P166 wd:Q7191 . ?nobel_laureate wdt:P802 wd:Q8998 . ?nobel_laureate wdt:P166 ?prize . ?prize wdt:P31 wd:Q19020 . ?prize wdt:P585 ?date . FILTER(?date > "YEAR-01-01T00:00:00Z"^^xsd:dateTime) } ORDER BY ASC(?date) LIMIT 1
95
SELECT ?date WHERE { ?person wdt:P166 ?award . ?award wdt:P166Recipient ?recipient . ?recipient rdfs:label "Eiji Toyoda"@en . ?award wdt:P166ForWork ?work . ?work rdfs:label "Order of Prince Henry"@en . ?award wdt:P166Date ?date . } limit 100
96
SELECT ?start_date ?end_date WHERE { wd:Q181 wdt: ?employment_history . ?employment_history ps:P108 [rdfs:label "Bomis"@en] ; ps:P580 ?start_date . OPTIONAL { ?employment_history ps:P582 ?end_date } } limit 100
97
SELECT ?author WHERE { wd:Q57085 wdt:P2680 ?book . ?book wdt:P50 ?author . } limit 100
98
SELECT ?person WHERE { ?org wdt:P625 wd:Q60 . ?person wdt:P108 ?org . ?person rdfs:label ?person_label . FILTER(LANG(?person_label) = 'en' && ?person_label = 'Michelle Wolf') } limit 100
99
SELECT ?unit_of_measurement WHERE { ?unit_of_measurement wdt:P2370 ?symbol . FILTER(regex(?symbol, '^visus', 'i')) } limit 100
100
SELECT ?publication_date WHERE { ?itunes Q27860817 "12.7.5" . ?itunes Q1361758 ?publication_date . } limit 100
Request failed with status code 400
Failed query number 100
101
SELECT ?languageLabel WHERE { ?language wdt:P287 wd:Q45575 . ?language wdt:P3966 wd:Q223335 . SERVICE wikibase:label { bd:serviceParam wikibase:language "en". } } limit 100
102

In [72]:
len(v)

500

In [73]:
v_df = pd.DataFrame(v)

In [74]:
len(v_df[v_df[0] == 'Pass'])

384

In [83]:
q = 'SELECT ?facilityLabel WHERE { ?defensive_wall wdt:P846 ?facility . SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . } }'

In [75]:
v_df

        0  1
0    Pass  0
1    Pass  0
2    Pass  0
3    Fail  0
4    Pass  0
..    ... ..
495  Pass  0
496  Fail  0
497  Pass  0
498  Pass  0
499  Pass  0

[500 rows x 2 columns]

In [76]:
translator("What is the product with the lowest consumption rate per capita whose has part is paraffin wax?")

TypeError: string indices must be integers

In [77]:
question = "What is the product with the lowest consumption rate per capita whose has part is paraffin wax?"

In [87]:
question = """
When did James Thomas Farrell receive the St. Louis Literary Award?",
"""

In [89]:
query_template_json = chain.run(question)
print(query_template_json)

{
  "query_template": "SELECT ?date WHERE { wd:q-JamesThomasFarrell wdt:p-Award ?award . ?award wdt:p-AwardReceivedDate ?date . ?award wdt:p-AwardReceived ?received . ?received rdfs:label \"St. Louis Literary Award\"@en }",
  "vocabulary": [
    {
      "item_tag": "q-JamesThomasFarrell",
      "item_label_quesses": ["James Thomas Farrell", "Farrell, James Thomas"]
    },
    {
      "item_tag": "p-Award",
      "item_label_quesses": ["Award", "Prize", "Honour"]
    },
    {
      "item_tag": "p-AwardReceivedDate",
      "item_label_quesses": ["Award received date", "Date of receiving award", "Date received"]
    },
    {
      "item_tag": "p-AwardReceived",
      "item_label_quesses": ["Award received", "Receiving award", "Award recipient"]
    }
  ]
}

In [100]:
query_template = json.loads(query_template_json)
resolve_query_template(query_template)

No property found for 'Award received date'

'SELECT ?date WHERE { wd:Q1371154 wdt:P166 ?award . ?award wdt: ?date . ?award wdt:P166 ?received . ?received rdfs:label "St. Louis Literary Award"@en }'

In [97]:
def resolve_query_template(t):
    vocab_items = [(v["item_tag"], v["item_label_quesses"]) for v in t["vocabulary"]]
    vocab_items = sorted(vocab_items, key=lambda x: x[1], reverse=True)
    print(vocab_items)
    resolved_vocabulary = {item_tag: vocab_lookup(item_label_quesses[0], item_tag=item_tag) for item_tag, item_label_quesses in vocab_items}
    print(resolved_vocabulary)
    query = t['query_template']
    for item_tag, item_id in resolved_vocabulary.items():
        query = query.replace(item_tag, item_id)
    result = query
    return result

In [85]:
query_template['vocabulary']

TypeError: string indices must be integers

In [86]:
'limit' in q.lower()

False